html, body {
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-family: sans-serif;
  font-size: 10px;
}

.icon {
  width: 100%;
  height: 100%;
}
