
.title-bar {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  margin:4px;

  -webkit-app-region: drag;
}

.spacer {
  flex: auto;
}

#title {
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

.title-icon {
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  margin-left: .6em;
  margin-right: .6em;
  fill: rgba(0, 0, 0, 0.75);

  -webkit-app-region: no-drag;
}

#title-icons {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  height: 38px;
  margin-right: 7px;
  font-size: 16px;
}

#container {
  display: flex;
  position: absolute;
  top: 38px;
  width: 100%;
  height: calc(100% - 38px);
  overflow: hidden;
  color: white;
  background-color: #4c5054;
}

.container-icons {
  display: flex;
  /* flex: auto; */
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  /* font-size: 16px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0px 0px 16px 0 black; */
}

.container-title {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: lightgray;
  /* margin-left: -1.4em; */
}

.container-icon {
  font-size: 16px;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  fill: rgba(255, 255, 255, 0.75);
}

.content {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  overflow: hidden;
}

#drop-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: center;
}

#settings-content {
  padding: 12px;
  overflow: auto;
}

#perimeter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  height: 150px;
}

#drop-image {
  position: absolute;
  margin: auto;
  width: 96px;
  height: 96px;
  fill: gray;
}

.drop-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 26px;
}

#thumbnail-container {
  display: flex;
  width: 100vw;
  padding: 8px;
  overflow: hidden;
}

.thumbnail {
  display: flex;
  overflow: hidden;
  margin: 4px;
  width: 24px;
  height: 16px;
  min-width: 24px;
  min-height: 16px;

  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.3);
  background: black;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 10px;
}

#picture-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.picture-list-item {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 4px 2px 4px 2px;
  font-size: 1em;
  color: lightgray;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 32px;
  max-width: 280px;
}

.picture-list-item-title {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 2px 2px 4px;
}

.picture-list-item-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 3px;
  fill: white;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  /* font-size: 10px; */
  background: rgb(0, 0, 0);
  opacity: 0.4;
}

#help-content {
  display: flex;
  flex-direction: column;
  padding: 1em 3em 1em 3em;
  overflow: auto;
  color: lightgray;
  /* font-size: 10px; */
  /* border: 1px solid red; */
}

.heading {
  display: flex;
  /* justify-content: center; */
  font-size: 1.6em;
  color: white;
  padding: 0 0 .5em 0;
}

.shortcuts {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .1em;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 3em;
  padding: 0 1em 0 1em;
  /* background: rgba(0, 0, 0, 0.2); */
  background: rgba(255, 255, 255, 0.05);
  /* border-radius: .4em; */
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4em;
  width: 3em;
  /* margin: 0 .4em 0 .4em; */
  border: .2em solid rgba(255, 255, 255, 0.2);
  border-radius: .4em;
}
