.title-bar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 38px;

  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;

  background-color: #3a3c40;
  /* background-color: #d0d0d0; */

  -webkit-app-region: drag;
}

.spacer {
  flex: auto;
}

.title {
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

#eye {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-top: 7px;
  margin-right: 12px;
  fill: white;
  /* fill: #606060; */
}

#close {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  fill: white;
}


.container {
  display: flex;
  position: absolute;
  top: 38px;
  width: 100%;
  height: calc(100% - 38px);
  overflow: hidden;
  color: white;
  font-size: 26px;
  /* background-color: #28c6f8; */
  /* background-color: #16d2f6; */
  /* background-color: #3eb2de; */
  background-color: #4c5054;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: auto;
}

.perimeter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 64px; */
}

.drop-image {
  position: absolute;
  margin: auto;
  width: 96px;
  height: 96px;
  fill: white;
}

.drop-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
