sub {
  line-height: 1.4em;
}

ol {
  padding: 0;
  margin: .5em 1em .5em 1em;
}

li {
  padding: .4em;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  max-width: 100%;
  min-width: 256px;
}

th {
  background: #e9e9e9;
}

th, td {
  vertical-align: top;
  padding: .6em;
}

.light {
  background: white;
  color: gray;
  fill: gray;
}

.dark {
  color: lightgray;
  fill: lightgray;
  background-color: #4c5054;
}

#main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title-bar {
  display: flex;
  align-items: center;
  height: 30px;
  min-height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  margin:4px;

  -webkit-app-region: drag;
}

.spacer {
  flex: auto;
}

#title {
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

.title-icon {
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  margin-left: .6em;
  margin-right: .6em;
  fill: rgba(0, 0, 0, 0.75);

  -webkit-app-region: no-drag;
}

#title-icons {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  height: 38px;
  margin-right: 7px;
  font-size: 16px;
}

#container {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}

.container-icons {
  display: flex;
  align-items: center;
  padding: 1.2em;
  height: 3em;
  min-height: 3em;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.container-title {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.container-icon {
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}

#drop-container {
}

#drop-content {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: center;
  justify-content: center;
}

#perimeter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 180px;
  min-height: 180px;
  width: 180px;
  height: 180px;
}

#drop-image {
  position: absolute;
  margin: auto;
}

.drop-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  font-size: 26px;
}

#settings-container {
}

#settings-content {
  padding: 12px;
  overflow: auto;
}

#picture-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.picture-list-item {
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: .4em;
  margin: .4em .2em .4em .2em;
  min-width: 3.2em;
  max-width: 28em;
  border-radius: .6em;
  background: rgba(0, 0, 0, 0.2);
}

.picture-list-item-title {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  padding: .1em .4em .1em .4em;
}

.picture-list-item-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2em;
  padding: .3em;
  width: .8em;
  height: .8em;
  margin-left: .4em;
  background: rgba(255, 255, 255, 0.75);
  fill: black;
}

#help-container {
  background: #f0f0f0;
}

#help-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1em 3em 1em 3em;
  line-height: 1.5em;
}

.heading {
  font-size: 1.6em;
  margin-top: .7em;
  margin-bottom: .5em;
}
