
.background {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* background-color: rgba(16, 32, 48, 0.5); */
  /* background-color: rgba(48, 160, 240, 0.8); */
  background-color: rgba(0, 0, 0, 0.4);
}

.background.selected {
  background-color: rgba(0, 0, 0, 0.8);
}

.border {
  border: 3px solid;
  border-color: transparent;
}

.border.macos {
  border-radius: 4px;
}

.border.selected {
  /* border-color: rgba(255, 255, 255, 1); */
  border-color: rgba(255, 255, 255, 1);
  /* border-color: black; */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#container.selected {
}

#overlay-container {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-scrollbar: none;
  /* display: none; */
}

#canvas-container {
  overflow: hidden;
  width: 100%;
  -webkit-scrollbar: none;
}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
  /* background: rgba(0, 128, 255, 0.1) */
}


/* Covers up annoying title bar flicker on Windows - possible GPU driver glitch ? */

#title-bar {
  display: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px;
  background: black;
}

.spacer {
  flex: auto;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 8px;
  width: 100vw;
  right: 0;
}

#title {
  display: flex;
  align-items: center;
  overflow: hidden;
  /* max-width: 80%; */
  height: 20px;
  padding: 2px 8px 2px 8px;
  margin-left: 32px;
  margin-right: 32px;
  font-size: 11px;
  box-sizing: border-box;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.5);
  /* color: rgba(0, 0, 0, 0.5); */
}

#title.selected {
  color: rgba(255, 255, 255, 0.8);
  /* color: rgba(0, 0, 0, 0.8); */
}

#close {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  min-width: 18px;
  max-width: 18px;
  padding: 4px;
  border-radius: 18px;
  box-sizing: border-box;
  -webkit-app-region: no-drag;

  fill: rgba(255, 255, 255, 0.5)
  /* fill: rgba(0, 0, 0, 0.5); */
}

#close.selected {
  /* fill: rgba(0, 0, 0, 0.8); */
  fill: rgba(255, 255, 255, 0.8)
}
