
#container {
  display: flex;
  position: absolute;
  /* width: calc(100% - 6px); */
  /* height: calc(100% - 6px); */
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* margin: 3px; */
  box-sizing: border-box;
  -webkit-scrollbar: none;
}

#container.selected {
  /* border-radius: 8px; */
}

#overlay-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* width: calc(100% - 6px); */
  /* height: 90%; */
  /* flex: auto; */
  /* width: calc(100% - 6px); */
  /* height: calc(100% - 6px); */
  padding: 3px;
  position: absolute;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* display: none; */
  /* -webkit-app-region: no-drag; */
}

#canvas-container {
  overflow: hidden;
  border-radius: 4px;
  /* display: none; */
  /* -webkit-scrollbar: none; */
}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
}

#title-bar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.spacer {
  flex: auto;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 6px 12px 6px 12px;
  max-width: 50%;
  height: 24px;
  margin: auto;
  margin-top: 3px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
  white-space: nowrap;
}

#close {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  margin: 12px;
  padding: 5px;
  border-radius: 24px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  /* z-index: 500; */
}

.background {
  background-color: white;
  fill: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.background.selected {
  /* background-color: dodgerblue; */
  /* fill: white; */
  /* color: white; */
  fill: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.border {
  border: 3px solid rgba(255, 255, 255, 0);
  /* border: 1px solid rgba(255, 255, 255, 0); */
  border-radius: 2px;
}

.border.selected {
  border-color: white;
  /* border-color: dodgerblue; */
}
