
.background {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.background.selected {
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.border {
  border: 3px solid rgba(255, 255, 255, 0);
  /* border: 3px solid cyan; */
  /* border-radius: 4px; */
}

.border.selected {
  /* border-color: rgba(255, 255, 255, 1); */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#container.selected {
}

#color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 255, 0.1);
  pointer-events: none;
  /* padding: 28px 3px 3px 3px; */
  /* background-clip:content-box; */
  /* box-sizing: border-box; */
  visibility: hidden;
}

#overlay-container {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-scrollbar: none;
  /* display: none; */
}

#canvas-container {
  overflow: hidden;
  width: 100%;
  -webkit-scrollbar: none;
  /* display: none; */
}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
  /* background: rgba(0, 128, 255, 0.1) */
}


/* Covers up annoying title bar flicker on Windows */

#title-bar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 0px;
  background: black;
}

.spacer {
  flex: auto;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5px;
  width: 100vw;
  right: 0;
}

#title {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 80%;
  height: 20px;
  padding: 2px 6px 2px 6px;
  font-size: 11px;
  box-sizing: border-box;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.5);
  /* color: rgba(0, 0, 0, 0.5); */
}

#title.selected {
  color: rgba(255, 255, 255, 0.8);
  /* color: rgba(0, 0, 0, 0.8); */
}

#close {
  position: fixed;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  min-width: 18px;
  max-width: 18px;
  padding: 4px;
  border-radius: 18px;
  box-sizing: border-box;
  -webkit-app-region: no-drag;

  fill: rgba(255, 255, 255, 0.5)
  /* fill: rgba(0, 0, 0, 0.5); */
}

#close.selected {
  /* fill: rgba(0, 0, 0, 0.8); */
  fill: rgba(255, 255, 255, 0.8)
}
