
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-scrollbar: none;
}

#container.selected {
  /* border-radius: 8px; */
}

#overlay-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  position: fixed;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* -webkit-app-region: no-drag; */
  background: rgba(255, 0, 0, 0.5);
}

#canvas-container {

}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
}

#title-bar {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.spacer {
  flex: auto;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 6px 12px 6px 12px;
  max-width: 50%;
  height: 24px;
  /* margin: auto; */
  font-size: 12px;
  box-sizing: border-box;
  /* border-radius: 3px 3px 0 0; */
  white-space: nowrap;
}

#close {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  margin: 6px;
  padding: 6px;
  border-radius: 24px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  /* z-index: 500; */
}

.background {
  background-color: rgba(255, 255, 255, 1);
  fill: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.background.selected {
  /* background-color: white; */
  fill: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.border {
  border: 3px solid rgba(255, 255, 255, 0);
  /* border-radius: 5px; */
}

.border.selected {
  border-color: white;
}
