
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-scrollbar: none;
}

#container.selected {
  border-radius: 8px;
}

#overlay-container {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px;
  position: fixed;
  box-sizing: border-box;
  visibility: hidden;
  -webkit-user-select: none;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
}

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
}

.spacer {
  flex: auto;
}

#title {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 6px 12px 6px 12px;
  height: 24px;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 5px;
  white-space: nowrap;
}

#close {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  margin: 6px;
  padding: 6px;
  border-radius: 24px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.background.selected {
  opacity: 1;
  background-color: dodgerblue;
}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

.border {
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.border.selected {
  /* border-color: rgb(0, 255, 0); */
  border-color: dodgerblue;
}
