
.background {
  background-color: white;
  fill: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.background.selected {
  fill: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  /* background-color: rgba(16, 16, 16, 0.8); */
}

.border {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
}

.border.selected {
  border-color: white;
}

#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  /* border-radius: 3px; */
}

#container.selected {
}

#overlay-container {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-scrollbar: none;
}

#canvas-container {
  /* position: absolute; */
  overflow: hidden;
  /* top: 24px; */
  width: 100%;
  /* height: calc(100% - 24px); */
  -webkit-scrollbar: none;
  border-radius: 0 0 4px 4px;
}

.draggable {
  -webkit-app-region: drag;
  border: 1px solid transparent;
}

#drag-container {
  flex: auto;
  -webkit-user-select: none;
}

#title-bar {
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 24px; */
  box-sizing: border-box;
  padding: 0px;
  background: white;
  overflow: hidden;
}

.spacer {
  flex: auto;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 6px 12px 6px 12px; */
  max-width: 75%;
  height: 100%;
  margin: auto;
  margin-top: 0;
  font-size: 12px;
  box-sizing: border-box;
  /* border-radius: 0 0 3px 3px; */
  white-space: nowrap;
  /* background: red; */
}

#close {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  min-width: 18px;
  max-width: 18px;
  margin: 3px;
  /* margin-right: 7px; */
  /* margin: 0 8px 0 0; */
  padding: 4px;
  border-radius: 14px;
  /* border-radius: 0 0 24px 24px; */
  box-sizing: border-box;
  -webkit-app-region: no-drag;
}
